<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NetBakery.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <userSettings>
    <NetBakery.My.MySettings>
      <setting name="defaultConnectionString" serializeAs="String">
        <value>server={0};user id={1};password={2};database=information_schema;allowuservariables=True;characterset=utf8mb4;interactivesession=True;treattinyasboolean=False;compress=True;persistsecurityinfo=True;sslmode={3}</value>
      </setting>
      <setting name="customDictionary" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>emailuse|emailuses</string>
            <string>erroremailuse|erroremailuses</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="gui_style" serializeAs="String">
        <value>VisualStudio2012Dark</value>
      </setting>
      <setting name="routineRegex" serializeAs="String">
        <value>(?&lt;!(?:INSERT|UPDATE|DELETE)[^;]+)SELECT(?: |\r\n|\n|\r)(?:.(?!INSERT|UPDATE|DELETE))+?(?:^END$)</value>
      </setting>
      <setting name="upgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="checkUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="lastUpdate" serializeAs="String">
        <value>1.0.329</value>
      </setting>
      <setting name="windowSize" serializeAs="String">
        <value>1689, 633</value>
      </setting>
      <setting name="isMaximized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="maxERDiagramDepth" serializeAs="String">
        <value>5</value>
      </setting>
    </NetBakery.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
</configuration>
